* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

#main {
  width: 200px;
  height: 100px;
  margin: auto;
}

#header {
  font-weight: 900;
  padding: 10px 10px;
}



#user-video {
  padding: 12px 12px;
  width: auto;
}

#peer-video {
  padding: 12px 12px;
  width: auto;
}

/* copied */

.btn-group {
  display: none;
  justify-content: center;
}






/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

/* options */

#fullMode {
  display: none;
}

#presentSysAudio {
  display: none;
}

#presentUserAudio {
  display: none;
}

#uploaded {
  display: none;
}

#downloaded {
  display: none;
}
